@model eDISC.Models.Disc

@{
    ViewData["Title"] = "Details";
}


    <div class="card">
        <img class="card-img-top" style="max-width: 26vw" src="@Model.ImageUrl" alt="Card image cap" />
        
        <div class="card-body">
            <h2 class="card-title">@Model.NamePlastic</h2>

            <p class="card-text">@Model.Description</p>
           
            <p class="card-text">Flight Numbers:</p>
            <div class="flightNumsContainer">
                    <div class="flightNum">@Model.Speed</div>
                    <div class="flightNum">@Model.Glide</div>
                    <div class="flightNum">@Model.Turn</div>
                    <div class="flightNum">@Model.Fade</div>
                </div>

            <p class="card-text">Condition: @Model.Condition </p>
            <p class="card-text">Categories: @Model.DisplayTags</p>
            <p class="card-text">Weight: @Model.Weight g</p>
       
            <p class="card-text">Price: $@Model.Price </p>

            <a asp-action="Cart">ADD TO CART</a>
        </div>
    </div>
    
<br />
    
<div>
    @Html.ActionLink("Edit", "Edit", new { id= Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
