@model eDISC.Models.Disc

@{
    ViewData["Title"] = "Details";
}


    <div class="card">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap" />
        
        <div class="card-body">
            <h2 class="card-title">@Model.NameBrandPlastic</h2>
            <p class="card-text">Flight Numbers: @Model.Speed | @Model.Glide | @Model.Turn | @Model.Fade </p>
            <p class="card-text">Weight: @Model.Weight g</p>
            <p class="card-text">Price:  $@Model.Price </p>
            <p class="card-text">Condition: @Model.Condition </p>
       
            <p class="card-text">Tags: @Model.DisplayTags</p>

            <a asp-action="Cart">ADD TO CART</a>
        </div>
    </div>
    
<br />
    
<div>
    @Html.ActionLink("Edit", "Edit", new { id= Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
