@model eDISC.Models.Disc

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="discDetail">
        <div>
            <img class="discDetailImage" src="@Model.ImageUrl" alt="disc" style="max-height: 8rem" />
        </div>

        <div>
            <h2 class="discDetailHeader">@Model.NameBrandPlastic</h2>
            <hr />
            <p class="discDetailFlightNumbers">Flight Numbers: @Model.Speed | @Model.Glide | @Model.Turn | @Model.Fade </p>
            <p class="discDetailWeight">Weight: @Model.Weight g</p>
            <p class="discDetailPrice">Price:  $@Model.Price </p>
            <p class="discDetailPrice">Condition: @Model.Condition </p>
       
            <p>Tags: @Model.DisplayTags</p>

            <button class="addToCartButton">ADD TO CART</button>
        </div>
    </div>
    
<br />
    
<div>
    @Html.ActionLink("Edit", "Edit", new { id= Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
