@model IEnumerable<eDISC.Models.Disc>

@{
    ViewData["Title"] = "Index";
}

<h1 class="discsHeader">All Discs</h1>


<div class="discList">
    @foreach(var item in Model)
    {
        <div class="card-disc">
            <div class="card-disc-content">
                <div class="image_div">
                    <img class="card-img-top" style="max-width: 18vw" src="@item.ImageUrl" alt="disc"/>
                </div>

                <div class="flightNumsContainer">
                    <div class="flightNum">@item.Speed</div>
                    <div class="flightNum">@item.Glide</div>
                    <div class="flightNum">@item.Turn</div>
                    <div class="flightNum">@item.Fade</div>
                </div>

                <h2><span class="card-disc-name">@item.NamePlastic</span></h2>
          
                <div class="detailsButtonsContainer">
                    <p class="cardDiscButton"> @Html.ActionLink("Details", "Details", new { id=item.Id }) </p>
                </div>
            </div>
      </div>
    }
</div>

<p class="addDiscContainer">
    <a class="addDiscButton" asp-action="Create">Add Disc</a>
</p>

         