@model eDISC.Models.ViewModels.DiscCartViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="discsHeader">Discs For Sale</h1>


<div class="discList">
    @foreach(var item in Model.Discs)
    {
        <div class="card-disc">
            <div class="card-disc-content">
                <div class="image_div">
                    <img class="card-img-top" style="max-width: 18vw" src="@item.ImageUrl" alt="disc"/>
                </div>

                <div class="flightNumsContainer">
                    <div class="flightNum">@item.Speed</div>
                    <div class="flightNum">@item.Glide</div>
                    <div class="flightNum">@item.Turn</div>
                    <div class="flightNum">@item.Fade</div>
                </div>

                <h2><span class="card-disc-name">@item.NamePlastic</span></h2>
          
                <div class="detailsButtonsContainer">
                    <p class="cardDiscButton"> @Html.ActionLink("Details", "Details", new { id=item.Id }) </p>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-CartId="@Model.Cart.Id" class="btn btn-outline-primary mx-1" title="Details">Details</a>
                </div>
            </div>
      </div>
    }
</div>



         